{% extends 'base.html' %} {% block content %}
<body style="background: linear-gradient(to right, #606c88, #3f4c6b);"></body>
<div class="container-fluid">
    <h1 class="text-center" style="color: whitesmoke">Welcome to the best pitch website</h1>
    <div class="jumbotron" style="background-color: plum">
    <p style="text-align: center;font-size: 2.8em; color: white;">Welcome
        </p>
        </div>
        <div class="well" style="background-color: violet">
    <p style="font-size: 1.4em;text-align: center">
        <a href="{{ url_for('main.new_pitch') }}"> Click </a>to create a pitch or view Pitches.</p>
        </div>
</div>
{% endblock %}