{% macro displayPitchList(pitch_list) %} {% for pitch in pitch_list %}
<div class="col-md-1">
</div>
<div class="col-md-10">
    <div class="card m-6">
        <div class="card-header">
            <h3 class="card-title">{{pitch.title}}</h3>
        </div>
        <div class="card-body">
            <p class="card-text">{{pitch.body}}</p>
        </div>
        <hr>
        <div class="card-footer">
            <a href="{{ url_for('main.new_comment') }}">Comment</a>
        </div>
    </div>
</div>
<div class="col-md-1">
</div>
{% endfor %} {% endmacro %} {% macro displayCommentList(comment_list) %} {% for review in comment_list %}
<div class="col-md-3">
</div>
<div class="col-md-6">
    <p>{{review.comment}}</p>
</div>
<div class="col-md-3">
</div>

{% endfor %} {% endmacro %}