<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-collapse collapse">
            <ul class="btn btn-warning" >

                <!-- <li>
                    <a href="/"> Home </a>
                </li> -->
                <li>
                    <a href="/"> CATEGORIES </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Pitch Categories
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="./product">Product</a></li>
                        <li><a href="./promotion">Promotion</a></li>
                        <li><a href="./business">Business</a></li>
                        <li><a href="./technology">Technology</a></li>
                        <li><a href="./career">Career</a></li>
                    </ul>
                </li>
            </ul>
            <p style="font-size: 2.8em;text-align:right;color: chocolate;">
                <a href="{{ url_for('main.new_pitch') }}"> Click </a></p>
            <ul class="nav navbar-nav navbar-center">
                {% if current_user.is_authenticated %}
                <li>
                    <a class="nav-item nav-link" href="{{ url_for('main.new_pitch') }}">Add Pitch</a>
                </li>
                <li>
                    <a class="nav-item nav-link" href="{{ url_for('auth.logout') }}">Sign out</a>
                </li>
                {% else %}
                <li>
                    <a class="nav-item nav-link" href="{{ url_for('auth.login') }}">
                        <span class="glyphicon glyphicon-log-in"></span>Sign in</a>
                </li>
                <li>
                    <a class="nav-item nav-link" href="{{ url_for('auth.register') }}">
                        <span class="glyphicon glyphicon-user"></span>Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>